{% extends "base.html" %}

{% block content %}
<h1 style="margin-left: 50px; padding-top: 20px;">Upcoming Events</h1>
<ul>
    {% for event in events %}
    <li>
        <h3 style="font-size: medium; margin-left: 50px; padding-top: 30px;">{{ event.title }}</h3>
        <p style="font-size: medium; margin-left: 50px; padding-top: 30px;">{{ event.description }}</p>
        <a class="btn" style="margin: 40px;" href="{% url 'event_details' event.id %}">View Details</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
