{% extends "base.html" %}

{% block content %}
<h1 style="font-size: medium; margin-left: 50px; padding-top: 30px;">{{ event.title }}</h1>
<p style="font-size: medium; margin-left: 50px; padding-top: 30px;">{{ event.description }}</p>
<h2 style="font-size: medium; margin-left: 50px; padding-top: 30px;">Tickets</h2>
<ul>
    {% for ticket in tickets %}
    <li>
        <p style="font-size: medium; margin-left: 50px; padding-top: 30px;">{{ ticket.type }} - ${{ ticket.price }}</p>
        <a style="font-size: medium; margin-left: 50px; padding-top: 30px;" href="{% url 'purchase_ticket' event.id ticket.id %}">Purchase</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
